.App {
  text-align: center;
}
.pdt30{
  padding-top: 30px;
}
.color-block {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.color-palette {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.colorSelbtn {
  margin-right: 15px;
  margin-bottom: 20px;
}
.handPoint:hover{
  cursor: pointer;
}
